* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.gradation-text {
    background: linear-gradient(to right bottom, #ff652a, #ffdc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradation-border {
    position: relative;
    display: inline-block;
    padding: 24px 28px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50px;
        border: 8px solid transparent;
        background: linear-gradient(to right bottom, #ff652a, #ffdc00)
            border-box border-box;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0) border-box;
        -webkit-mask-composite: destination-out;
        mask: linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0) border-box;
        mask-composite: exclude;
        z-index: -1;
    }
}
